@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    background-color: rgb(207, 141, 55);
}

    h1, h2, h3 {
    font-family: Merriweather, sans-serif;
    letter-spacing: 3px;
    text-transform: capitalize;
}

#logo {
    color:#3a3a3a;
    margin:2px;
    border:none;
    padding:2px;
    float:left;
    font-size: 200%;
}
.nav-left h1 a,
a:visited {
  color: #fff;
}

a:hover, a:link, a:active
{
    text-decoration: none;
}

#menu {
    font-size: 150%;
    letter-spacing: 6px;
    font-weight: bold;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px; 
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom:2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}


img {
    max-width: 100%;
    max-height: 1100px;
    repeat:no-repeat;
    overflow: hidden;
    float: left;
    margin-top: 3px;
}

#reasons {
    height: 600px;
}

#right-about {
    float: right;
    margin: 60px;
    padding: 60px;
}
#pet-care {
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
    margin-bottom: 80px;
    padding: 40px;
    background-color: rgb(51, 145, 145);
    color:#fff;
}


#right-about {
    
    float: right;
    font-size: 110%;
    font-family: Merriweather, sans-serif;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    right:0px;
    left:1275px;
    position: absolute;
    text-align: center;
    margin-top: 0;    
}


#come-to, #love {
    background-color: rgba(78, 160, 146, 0.7);

}
.right-about-heading > h2 {
    background-color: rgba(78, 160, 146, 0.7);
}

p {
    background-color: rgba(78, 160, 146, 0.445);
    text-align: center;
    color:black;
    font-weight: bold;
}

footer {
    height: 150px;
}

.social {
    text-align: center;
    position: fixed;
    bottom: 0;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color:rgb(26, 6, 236);
    letter-spacing: 5px;
}

#edna {
    width: 100px;
    height: 150px;
    border-radius: 8px;
}

#edna-text {
    background-color: rgb(58, 136, 189);
    text-align: left;
}

.gallery-inner {
        clear: both;
        line-height: 0;
        column-count: 4;
        column-gap: 0px;
    }
    
    .gallery-inner > img {
        width: 100%;
    }

    #gallery-footer {
        bottom: 10px;
        clear: both;
    }